</main>
<footer class="bg-dark text-white py-3">
    <p class="text-center">&copy; 2025 PixelPower. Todos los derechos reservados.</p>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container d-flex justify-content-center">
            <ul class="navbar-nav text-center">
                <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/noticias">Noticias</a></li>
                <li class="nav-item"><a class="nav-link" href="/sobrenosotros">Sobre Nosotros</a></li>
                <li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
            </ul>
        </div>
    </nav>
    <section id="redes-sociales" class="text-center mt-3">
        <div class="container">
            <h2>Siguenos en nuestras redes sociales</h2>
            <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-3x"></i></a>
            <span class="separador">|</span>
            <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter fa-3x"></i></a>
            <span class="separador">|</span>
            <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-3x"></i></a>
        </div>
    </section>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
