<%- include('SinInicioSesion/header') %>

<div class="container mt-5">
    <h2 class="text-center">Top juegos mas vendidos</h2>

    <div class="row">

        <div class="col-12 col-md-6 mb-4">
            <img src="img/Minecraft.png" class="card-img-top h-75" alt="Top 1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Minecraft</h5>
                    <p class="card-text"><b>Ventas: </b>300.000.000 €</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <img src="img/GTAV.png" class="card-img-top h-75" alt="Top 2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Grand Theft Auto 5</h5>
                    <p class="card-text"><b>Ventas: </b>205.000.000 €</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <img src="img/Tetris.png" class="card-img-top" alt="Top 3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tetris (EA)</h5>
                    <p class="card-text"><b>Ventas: </b>100.000.000 €</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <img src="img/WiiSports.jpg" class="card-img-top" alt="Top 4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Wii Sport</h5>
                    <p class="card-text"><b>Ventas: </b>82.900.000 €</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <img src="img/El_PUBG.jpg" class="card-img-top" alt="Top 5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">PUBG: Battegrounds</h5>
                    <p class="card-text"><b>Ventas: </b>75.000.000 €</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <img src="img/MarioKart8Deluxe.png" class="card-img-top" alt="Top 6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mario Kart 8 / Deluxe</h5>
                    <p class="card-text"><b>Ventas: </b>75.810.000 €</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <img src="img/RedDeadRedemption2.png" class="card-img-top h-75" alt="Top 7">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Red Dead Redemption II</h5>
                    <p class="card-text"><b>Ventas: </b>70.000.000 €</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <img src="img/Skyrim.jpg" class="card-img-top h-75" alt="Top 8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">The Elder Scrolls V: Skyrim</h5>
                    <p class="card-text"><b>Ventas: </b>60.000.000 €</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <img src="img/Terraria.jpg" class="card-img-top h-50" alt="Top 9">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Teraria</h5>
                    <p class="card-text"><b>Ventas: </b>58.700.000 €</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <img src="img/Super_Mario_Bros_Logo.png" class="card-img-top h-50" alt="Top 10">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Super Mario Bros</h5>
                    <p class="card-text"><b>Ventas: </b>58.000.000 €</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="parent">
        <div class="div1">
            <label>Hola!!! Bienvenido a la tienda online y fisica de PixelPower.</label>
            <p>Aqui podras comprar juegos, consolas, accesorios y mandos</p>
            <p>Te dejamos tres enlaces para que puedas consultar mas en esta pagina.</p>
        </div>
        <div class="div2">
            <label><a href="/noticias">Noticias</a></label>
            <p>Si quieres enterarte en las ultimas noticias, dale click en el titulo</p>
        </div>
        <div class="div3">
            <label><a href="/sobrenosotros">Sobre Nosotros</a></label>
            <p>Si quieres conocernos, dale click en el titulo 😄😄</p>
        </div>
        <div class="div4">
            <label><a href="/contacto">Contacto</a></label>
            <p>Si tienes alguna duda, problema, o algo que contarnos, dale click en el titulo 😉</p>
        </div>
        <div class="div5">
            <h1>Cliente</h1>
        </div>
        <div class="div6">
            <h1>Administrador</h1>
        </div>
        <div class="div7">
            <p>¿No tienes cuenta de Cliente? Haz click en este <a
                        href="Cliente/RegistrarSesionCliente">enlace</a></p>
            <br>
            <p>¿Tienes cuenta de Cliente? Haz click en este <a
                        href="Cliente/IniciarSesionCliente">enlace</a></p>
        </div>
        <div class="div8">
            <p>¿No tienes cuenta de Administrador? Haz click en este <a
                        href="Administrador/RegistrarSesionAdministrador">enlace</a></p>
            <br>
            <p>¿Tienes cuenta de Administrador? Haz click en este <a
                        href="Administrador/IniciarSesionAdministrador">enlace</a></p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2 class="text-center">Proximos lanzamientos</h2>
    <div class="card p-3 shadow-sm">
        <div class="row g-3">
            <div class="col-md-2 text-md-start text-center">
                <img src="img/StartVizen.jpeg" class="img-fluid rounded" alt="Star Citizen">
            </div>

            <div class="col-md-10">
                <h6 class="text-muted">Año 2026</h6>
                <h5>Star Citizen</h5>
                <p>Star Citizen es un videojuego de simulación espacial para PC, aunque se desconoce si saldrá en PS4 o Xbox. El juego está siendo desarrollado por el estudio Cloud Imperium Games con su diseñador Chris Roberts a la cabeza, conocido por ser el creador de los exitosos Wing Commander y Freelancer.</p>
                <p>Género: Acción / Simulador espacial</p>
            </div>
        </div>
    </div>
    <div class="card p-3 shadow-sm">
        <div class="row g-3">
            <div class="col-md-2 text-md-start text-center">
                <img src="img/GTA VI.jpg" class="img-fluid rounded" alt="Grand Theft Auto VI">
            </div>

            <div class="col-md-10">
                <h6 class="text-muted">Año 2026</h6>
                <h5>Grand Theft Auto VI</h5>
                <p>Grand Theft Auto VI o GTA 6 es la nueva entrega de la saga de aventuras y acción en mundo abierto de la saga superventas GTA de Rockstar Games, que sentó las bases que luego han imitado todos los 'sandbox' posteriores. Llega más de diez años después de GTA 5, que ha vendido cerca de 200 millones de copias, y de superar las previsiones más optimistas gracias a Grand Theft Auto Online, su componente multijugador. Está previsto para 2024 o principios de 2025 en PC y consolas de nueva generación.</p>
                <p>Género: Mundo abierto / Tipo GTA</p>
            </div>
        </div>
    </div>

    <div class="card p-3 shadow-sm">
        <div class="row g-3">
            <div class="col-md-2 text-md-start text-center">
                <img src="img/BeyondGood&Evil2.jpg" class="img-fluid rounded" alt="Beyond Good & Evil 2">
            </div>

            <div class="col-md-10">
                <h6 class="tex-muted">Año 2026</h6>
                <h5>Beyond Good & Evil 2</h5>
                <p>Beyond Good & Evil 2 para PC es la esperada segunda parte de uno de los títulos de culto de la época de PS2. Iniciada para PlayStation 3, el juego supuestamente llegará a la nueva generación de máquinas, aunque su estado es un misterio y quizás nunca llegue a ver la luz.</p>
                <p>Género: Aventura de acción / Mundo abierto</p>
            </div>
        </div>
    </div>

    <div class="card p-3 shadow-sm">
        <div class="row g-3">
            <div class="col-md-2 text-md-start text-center">
                <img src="img/TheElderScrollsVI.jpg" class="img-fluid rounded" alt="The Elder Scrolls VI">
            </div>

            <div class="col-md-10">
                <h6 class="tex-muted">Año 2026</h6>
                <h5>The Elder Scrolls VI</h5>
                <p>The Elder Scrolls VI es un RPG desarrollado y publicado por Bethesda para consolas y PC. La continuación del mítico Skyrim, de nuevo un juego de rol en mundo abierto en primera persona que promete volver a marcar un antes y un después en el género, y que los jugadores llevan más de una década esperando.</p>
                <p>Género: Action-RPG / Mundo abierto / RPG Occidental</p>
            </div>
        </div>
    </div>

    <div class="card p-3 shadow-sm">
        <div class="row g-3">
            <div class="col-md-2 text-md-start text-center">
                <img src="img/Fable.png" class="img-fluid rounded" alt="Fable">
            </div>

            <div class="col-md-10">
                <h6 class="tex-muted">Año 2026</h6>
                <h5>Fable</h5>
                <p>Fable es la nueva secuela de la saga de títulos de rol y acción occidental para Xbox One, Series X/S y PC. Desarrollada por PlayGround Games, creadores de la serie de videojuegos de conducción arcade Forza Horizon, nos llevará de nuevo a un mundo de fantasía y criaturas únicas, en el que tendremos que decidir el destino de nuestro reino en base a acciones, aventuras y misiones.</p>
                <p>Género: Aventura de acción / Mundo abierto / RPG Occidental</p>
            </div>
        </div>
    </div>

    <div class="card p-3 shadow-sm">
        <div class="row g-3">
            <div class="col-md-2 text-md-start text-center">
                <img src="img/PrinceofPersiaLasArenasdelTiempoRemake.jpg" class="img-fluid rounded" alt="Prince of Persia: Las Arenas del Tiempo Remake">
            </div>

            <div class="col-md-10">
                <h6 class="tex-muted">Año 2026</h6>
                <h5>Prince of Persia: Las Arenas del Tiempo Remake</h5>
                <p>Prince of Persia Las Arenas del Tiempo Remake es un videojuego de acción y aventura en tercera persona de la clásica saga Prince of Persia, con énfasis en la plataformas en 3D desarrollado por Ubisoft para PlayStation 4, PlayStation 5, Xbox One, Xbox Series y PC. En esta entrega, que se trata de un remake del clásico juego de 128 bits, se mostrará un estilo visual único y se incorporarán mejoras jugables.</p>
                <p>Género: Aventura de acción / Plataformas 3D</p>
            </div>
        </div>
    </div>

    <div class="card p-3 shadow-sm">
        <div class="row g-3">
            <div class="col-md-2 text-md-start text-center">
                <img src="img/MassEffect.jpg" class="img-fluid rounded" alt="Mass Effect 5">
            </div>

            <div class="col-md-10">
                <h6 class="tex-muted">Año 2026</h6>
                <h5>Mass Effect 5</h5>
                <p>Mass Effect 5 es la vuelta de BioWare y EA a la saga de juegos de rol y acción de ciencia ficción. En esta ocasión, se apostará por un enfoque más tradicional y menos rompedor que el visto en la anterior entrega, Andromeda. Sus detalles son escasos, aunque se espera que sea una continuación directa de la trilogía original.</p>
                <p>Género: Action-RPG / Mundo abierto</p>
            </div>
        </div>
    </div>
</div>


<%- include('SinInicioSesion/footer') %>