<%- include('SinInicioSesion/header') %>

<div class="container mt-5">
    <h2 class="text-center">Top juegos mas vendidos</h2>

    <div class="row">

        <div class="col-12 col-md-6 mb-4">
            <img src="img/Minecraft.png" class="card-img-top h-75" alt="Top 1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Minecraft</h5>
                    <p class="card-text"><b>Ventas: </b>300.000.000 €</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <img src="img/GTAV.png" class="card-img-top h-75" alt="Top 2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Grand Theft Auto 5</h5>
                    <p class="card-text"><b>Ventas: </b>205.000.000 €</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <img src="img/Tetris.png" class="card-img-top" alt="Top 3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tetris (EA)</h5>
                    <p class="card-text"><b>Ventas: </b>100.000.000 €</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <img src="img/WiiSports.jpg" class="card-img-top" alt="Top 4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Wii Sport</h5>
                    <p class="card-text"><b>Ventas: </b>82.900.000 €</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <img src="img/El_PUBG.jpg" class="card-img-top" alt="Top 5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">PUBG: Battegrounds</h5>
                    <p class="card-text"><b>Ventas: </b>75.000.000 €</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <img src="img/MarioKart8Deluxe.png" class="card-img-top" alt="Top 6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mario Kart 8 / Deluxe</h5>
                    <p class="card-text"><b>Ventas: </b>75.810.000 €</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <img src="img/RedDeadRedemption2.png" class="card-img-top h-75" alt="Top 7">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Red Dead Redemption II</h5>
                    <p class="card-text"><b>Ventas: </b>70.000.000 €</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <img src="img/Skyrim.jpg" class="card-img-top h-75" alt="Top 8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">The Elder Scrolls V: Skyrim</h5>
                    <p class="card-text"><b>Ventas: </b>60.000.000 €</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <img src="img/Terraria.jpg" class="card-img-top h-50" alt="Top 9">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Teraria</h5>
                    <p class="card-text"><b>Ventas: </b>58.700.000 €</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <img src="img/Super_Mario_Bros_Logo.png" class="card-img-top h-50" alt="Top 10">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Super Mario Bros</h5>
                    <p class="card-text"><b>Ventas: </b>58.000.000 €</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="parent">
        <div class="div1">
            <label>Hola!!! Bienvenido a la tienda online y fisica de PixelPower.</label>
            <p>Aqui podras comprar juegos, consolas, accesorios y mandos</p>
            <p>Te dejamos tres enlaces para que puedas consultar mas en esta pagina.</p>
        </div>
        <div class="div2">
            <label><a href="/noticias">Noticias</a></label>
            <p>Si quieres enterarte en las ultimas noticias, dale click en el titulo</p>
        </div>
        <div class="div3">
            <label><a href="/sobrenosotros">Sobre Nosotros</a></label>
            <p>Si quieres conocernos, dale click en el titulo 😄😄</p>
        </div>
        <div class="div4">
            <label><a href="/contacto">Contacto</a></label>
            <p>Si tienes alguna duda, problema, o algo que contarnos, dale click en el titulo 😉</p>
        </div>
        <div class="div5">
            <h1>Cliente</h1>
        </div>
        <div class="div6">
            <h1>Administrador</h1>
        </div>
        <div class="div7">
            <p>No tienes cuenta de Cliente?? Haz click en este <a
                        href="RutaCliente/RegistrarSesionCliente.php">enlace</a></p>
            <br>
            <p>Tienes cuenta de Cliente?? Haz click en este <a
                        href="RutaCliente/IniciarSesionCliente.php">enlace</a></p>
        </div>
        <div class="div8">
            <p>No tienes cuenta de Administrador?? Haz click en este <a
                        href="RutaAdministrador/RegistrarSesionAdministrador.php">enlace</a></p>
            <br>
            <p>Tienes cuenta de Administrador?? Haz click en este <a
                        href="RutaAdministrador/IniciarSesionAdministrador.php">enlace</a></p>
        </div>
    </div>
</div>


<%- include('SinInicioSesion/footer') %>