<%- include('../SinInicioSesion/header') %>

<div class="container mt-5">
    <h2 class="text-center">Ultimas noticias</h2>

    <div class="row">
        <!-- Noticia 1 -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img src="../img/o3-1.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">OpenAI presenta o3</h5>
                    <p class="card-text">La inteligencia artificial sigue avanzando a un ritmo vertiginoso, y la
                        competencia por liderar este campo es cada vez más intensa...</p>
                    <a href="https://www.muycomputer.com/2024/12/22/openai-presenta-o3/" class="btn btn-primary" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <!-- Noticia 2 -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img src="../img/Black-Desert-gratis-en-Steam-2.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Consigue Black Desert gratis en Steam</h5>
                    <p class="card-text">Pearl Abyss está ofreciendo Black Desert gratis en Steam, un juego de
                        tipo
                        MMORPG muy conocido...</p>
                    <a href="https://www.muycomputer.com/2024/12/21/consigue-black-desert-gratis-en-steam/" class="btn btn-primary" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <!-- Noticia 3 -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img src="../img/LLM-1.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">El lado oscuro de los LLM</h5>
                    <p class="card-text">Los LLM (Large Language Models) representan uno de los avances más
                        interesantes en inteligencia artificial...</p>
                    <a href="https://www.muycomputer.com/2024/12/20/el-lado-oscuro-de-los-llm/" class="btn btn-primary" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <!-- Noticia 4 -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img src="../img/YouTube-1.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">YouTube se pone más firme en contra del clickbait extremo</h5>
                    <p class="card-text">Hablar de YouTube, como ocurre también con otros servicios...</p>
                    <a href="https://www.muycomputer.com/2024/12/20/youtube-se-pone-mas-firme-en-contra-del-clickbait-extremo/" class="btn btn-primary" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <!-- Noticia 5 -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img src="../img/ChatGPT-1-4.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">ChatGPT llega a WhatsApp: cómo usarlo y qué puedes hacer</h5>
                    <p class="card-text">Ha estado claro, desde el primer momento, que OpenAI pretende llevar
                        ChatGPT a tantos espacios como sea posible...</p>
                    <a href="https://www.muycomputer.com/2024/12/20/chatgpt-llega-a-whatsapp-como-usarlo-y-que-puedes-hacer/" class="btn btn-primary" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <!-- Noticia 6 -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img src="../img/imagen-generada-con-IA.jpeg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">>La IA está haciendo que cada vez sea más difícil diferenciar la
                        realidad,
                        y esto es peligroso</h5>
                    <p class="card-text">La evolución de la IA nos ha traído avances muy importantes que están
                        transformando sectores muy distintos...</p>
                    <a href="https://www.muycomputer.com/2024/12/20/la-ia-esta-haciendo-que-cada-vez-sea-mas-dificil-diferenciar-la-realidad-y-esto-es-peligroso/" class="btn btn-primary" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <!-- Noticia 7 -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img src="../img/Skype-1.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Microsoft desconecta Skype: el servicio cerrará en mayo</h5>
                    <p class="card-text">Hubo un tiempo en el que Skype era sinónimo de comunicación por Internet. En una era donde las llamadas internacionales eran costosas y las conexiones no...</p>
                    <a href="https://www.muycomputer.com/2025/03/01/microsoft-desconecta-skype-el-servicio-cerrara-en-mayo/" class="btn btn-primary" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <!-- Noticia 8 -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img src="../img/Copilot-1.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">¿Quieres piratear Windows 11? Copilot te enseña</h5>
                    <p class="card-text">Copilot es, ya lo sabes, la gran apuesta de Microsoft para integrar la inteligencia artificial en su ecosistema, un asistente diseñado para hacer la vida más...</p>
                    <a href="https://www.muycomputer.com/2025/03/01/quieres-piratear-windows-11-copilot-te-ensena/" class="btn btn-primary" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

        <!-- Noticia 9 -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img src="../img/AMD-Radeon-RX-9060.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Las Radeon RX 9060 llegarán entre abril y junio</h5>
                    <p class="card-text">Tras la presentación de las Radeon RX 9070 y Radeon RX 9070 XT ahora todos los ojos están puestos en las Radeon RX 9060 y Radeon...</p>
                    <a href="https://www.muycomputer.com/2025/02/28/las-radeon-rx-9060-llegaran-entre-abril-y-junio/" class="btn btn-primary" target="_blank">Leer más</a>
                </div>
            </div>
        </div>

    </div>
</div>

<%- include('../SinInicioSesion/footer') %>

