<%- include('../SinInicioSesion/header') %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center border border-5 border-success">
            <h3>Historia</h3>
            <p>Todo comenz칩 en una peque침a habitaci칩n llena de cables, consolas antiguas y el sue침o de crear
                algo 칰nico.</p>
            <p>Tres amigos, apasionados por los videojuegos y la tecnolog칤a notaron que encontrar t칤tulos
                cl치sicos y nuevos a buen precio era cada vez m치s dif칤cil.</p>
            <p>As칤 naci칩 <b>PixelPower</b>, una tienda en l칤nea y tambi칠n f칤sica creada por gamers y frikis,
                para gamers y frikis.</p>
            <p>Lo que empez칩 como un peque침o cat치logo de juegos usados en un blog, pronto se convirti칩 en una
                plataforma donde miles de jugadores pueden encontrar desde ediciones retro hasta los
                lanzamientos m치s recientes.</p>
            <p>Nos impuls칩 el deseo de ofrecer precios justos, env칤os r치pidos y una comunidad donde los gamers
                pudieran compartir su pasi칩n.</p>
            <p>Hoy en d칤a, PixelPower no solo es una tienda, sino un espacio donde los jugadores encuentran lo
                que aman: desde coleccionistas hasta nuevos aventureros en el mundo gaming.</p>
        </div>
        <div class="col-md-8 border border-5 border-success">
            <h4>쯈u칠 nos hace diferentes?</h4>
            <label class="fs-6">    <i class="fa-solid fa-gamepad"></i> <b>Selecci칩n exclusiva</b> - Solo los mejores juegos y accesorios. </label>
            <label class="fs-6"> 游 <b>Atenci칩n gamer a gamer</b> - Sabemos lo que buscas porque tambi칠n jugamos. </label>
            <label class="fs-6"> 游댠 <b>Ofertas 칠picas</b> - Precios justos y promociones constantes. </label>
        </div>
    </div>
</div>

<%- include('../SinInicioSesion/footer') %>
